.newsZone {
	width: 100%;
	height: 87.8%;
	max-height: 100vh;
	background-color: #fff;
    color: #222327;
	position: absolute;
	left: -100%;
	top: 150px;
	z-index: 12;
	transition: 0.3s all;
	overflow: hidden;
	overflow-y: scroll;
    padding: 0 15px;
}
.hd_news_zone{
    padding: 20px;
	text-transform: uppercase;
	color: #222327;
}
.newsZone::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.newsZone::-webkit-scrollbar-track {
	//background: #f1f1f1;
	border-radius: 20px;
}

/* Handle */
.newsZone::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}

/* Handle on hover */
.newsZone::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.newsZone.active {
	left: 0;
}

.news_item{
    padding:  15px;
    background-color: #222327;
    color: #fff;
    margin-bottom: 20px;
    display:flex;
    transition:.3s all;
    position: relative;
        &:hover{
            cursor:pointer;
            transform: translateY(-10px);
        }
}
.logo_news img{
    border-radius: 20px;
    max-width: 200px;
    max-height:150px;
}
.left_block_news{
    text-align: center;
    div{
        padding: 5px 10px;
    }
}

.title_news{
    font-size: 30px;
	text-transform: uppercase;
	color: $MAIN_RED_COLOR;
	font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}
.description_news{
    text-align: justify;
    margin-bottom:40px;
    line-height: 30px;
}

.author_news{
    position: absolute;
    display:block;
    bottom: 0;
    right: 20px;
    margin-bottom:20px;
    text-transform: uppercase;
	color: $MAIN_RED_COLOR;
	font-family: "Poppins", sans-serif;
}